<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.tomhomewood.android.jmricontroller">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.ActivityMain"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ActivityControlLayout"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.ActivityChooseLocomotive"
            android:label="@string/title_choose_locomotive" />
        <activity
            android:name=".activities.ActivityViewLocomotiveInfo"
            android:label="@string/title_locomotive_info" />
        <activity
            android:name=".activities.ActivitySettings"
            android:label="@string/title_preferences" />
        <activity
            android:name=".activities.ActivityLandscapeThrottle"
            android:label="@string/title_landscape_throttle"
            android:screenOrientation="landscape" />
    </application>

</manifest>